.navds-modal {
    max-width: 800px;
    max-height: 400px;
}

@media only screen and (max-width: 1024px) {
    .navds-modal {
        max-width: none;
        margin-left: var(--a-spacing-4);
        margin-right: var(--a-spacing-4);
    }
}
