.navds-stack {
    --__ac-stack-gap-xs: var(--a-spacing-10);
    --__ac-stack-direction-xs: column;
}

.external-message-group {
    align-self: flex-end;
}

.block-gap {
    margin-bottom: var(--a-spacing-10);
}

.tight-gap {
    margin-bottom: var(--a-spacing-1);
}
